body {
    background-image: url("../images/cheerful-concert-crowd-2143.jpg");
    background-size: 100%;
}

.linkButton {
    color: white;
    border-radius: 12px;
    height: 100px;
    width: 200px;
    font-size: 200%;
    background-color: black;
    border: 0px;
}

.panel-transparent {
    background: none;
    padding-top: 5px;
    padding-bottom: 175px;
}

footer {
text-align: center;
left: 0;
bottom: 0;
position: fixed;
width: 100%;
}