#song-card {
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 0%;
    width: 25%;
    border-radius: 0;
}

.song-link {
    margin-top: 50px;
}

body {
    float: right;
    width: 75%;
    background-image: url(bgimg.jpg);
    background-size: 100%; 
}

.music-div {
    width: 50%;
    margin-bottom: 5px;
    background-color: rgba(73, 69, 69, 0.8);
}

#breadcrumbs {
    margin-top: 150%;
}


.jumbotron {
    border-radius: 0;
}
.breadcrumb {
    margin-left: 20%;
}

footer {
    text-align: center;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.btn {
    background-color: rgb(16, 16, 172);
    border-color: rgb(9, 9, 97); 
}

p {
    margin-bottom: 0px;
}